<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test - NEST.js - MVC</title>
  </head>
  <body>
    <h1>
      Test Nest MVC
    </h1>
    <h4>{{ message }}</h4>
  </body>
</html>